@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reenie+Beanie&family=Slackey&display=swap');


:root{
  --chosenFont: "Poppins", sans-serif;
  --titelFont: "Slackey", sans-serif;
}

.montserrat-bold {
  font-family: var(--titelFont) !important;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}
.montserrat-semibold {
    font-family: var(--chosenFont);
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
  }

.roboto-thin {
    font-family: var(--chosenFont);
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: var(--chosenFont);
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: var(--chosenFont);
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: var(--chosenFont);
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: var(--chosenFont);
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: var(--chosenFont);
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: var(--chosenFont);
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: var(--chosenFont);
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: var(--chosenFont);
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: var(--chosenFont);
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: var(--chosenFont);
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: var(--chosenFont);
    font-weight: 900;
    font-style: italic;
  }
  
  .appTitle{
    font-size:1.2em; 
    font-family: var(--chosenFont);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
  }

  .pageTitle{
    font-size:5em; 
    font-family: var(--chosenFont);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
  }

  .text-xl.font-bold{
    font-family: var(--titelFont) !important;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

  .text-4xl.font-bold{
    font-family: var(--titelFont);
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  p{
    font-family: var(--chosenFont);
    font-weight: 400;
    font-style: normal;
  }